.fondoIndex{
    background-image: url(../images/fondo3.jpg);
        .subTitulo{
            font-family: $fontFamily2;
            color: $colorDos;
        }
    }

.fondoIndex{
    .cont{
        .row{
            div{
                .colorPropio{
                    background-image: url(../images/fondo3.jpg);
                    .animacion{
                        transition: all 1s ease;
                        &:hover{
                            transform: scale(1.07, 1);
                        }
                    }
                    div{
                        .colorLetra{
                            @include coloresLetra
                        }
                    } 
                }
            }
        }
    }
}

.fondoIndex{
    .fondoLista{
        .fondo{
            background-color: black;
        }
        .colorLetraDos{
            @include coloresLetraDos
        }
        div{
            div{
                div{
                    h3{
                        .colorLetra{
                            @include coloresLetra
                        }
                    }
                    div{
                        div{
                            .colorLetra{
                                @include coloresLetra
                            }
                        }
                    }
                }
            }
        }
    }
}