.fondoApp{
    background-image: url(../images/gymAPP.jpg);
    .colorLetra{
        @include coloresLetra
    }
    .colorLetraDos{
        @include coloresLetraDos
    }
    .ubicacion{
        width: 100%;
        margin: 20 auto;
    }
    .contenedorImg{
        width: 100%;
    }
}
