.fondoFrecuentes{
    background-image: url(../images/frecuentes.jpg);
    height: 100vh;
    .fondo{
        background-color: black;
    }
    .colorLetraDos{
        @include coloresLetraDos
    }
    div{
        div{
            div{
                h2{
                    .colorLetra{
                        @include coloresLetra
                    }
                }
                div{
                    div{
                        .colorLetra{
                            @include coloresLetra
                        }
                    }
                }
            }
        }
    }
    section{
        .tamanoLetra{
            font-size: 150%;
        }
        .colorLetraDos{
        @include coloresLetraDos
        }
    }
}